body{

margin:0;
font-family:Arial;
background:#111;
color:white;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

height:100vh;

}

h1{

margin-bottom:40px;

}

.boton{

text-decoration:none;
background:white;
color:black;

padding:18px 30px;

border-radius:15px;

margin:15px;

font-size:22px;

width:250px;

text-align:center;

}
