body{

margin:0;
font-family:Arial;
background:#111;
color:white;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

height:100vh;

}

h1{

margin-bottom:40px;

}

.boton{

text-decoration:none;
background:white;
color:black;

padding:18px 30px;

border-radius:15px;

margin:15px;

font-size:22px;

width:250px;

text-align:center;

}
#wrapper{
    position:fixed;
    inset:0;
    overflow:hidden;
}

#video{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

#frame{
    position:absolute;
    inset:0;
    width:100vw;
    height:100vh;
    object-fit:fill;
    pointer-events:none;
    z-index:10;
}
